body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 35px;
}
.section-one{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.half-part{
    width: 50%;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name-design{
    line-height: 35px;
}
.half-part p{
    text-align: justify;
}
.half-part img{
    width: 80%;
    margin-right: -50px;
    margin-top: 25px;
}
h1{
    font-size: 45px;
}
.about{
    margin-left: 12px;
}
.name-color{
    color: orangered;
}
.btn-design{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    color: white;
    font-weight: 600;
    padding: 8px 32px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.section-two{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 75px;
    
}
.dream-img{
    margin-left: -120px;
}
.dream-big h1{
    font-size: 40px;
}
.experience{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
    color: white;
    background-image: linear-gradient(orange, orangered);
}
.card{
    width: 50%;
    margin: 18px;
    background-color:white;
    padding: 10px 18px;
    border-radius: 5px;
    border-left: 10px solid blue;
    border-right: 10px solid orange;
    height: 280px;
    text-align: justify;
    box-shadow: 4px 4px 12px #9e9d9d;
}
.card h1{
    font-size: 35px;
    margin-bottom: -18px;
}
footer{
    text-align: center;
    color: gray;
}



@media only screen and (max-width: 768px) {
    .container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .half-part{
        width: 100%;
        padding: 40px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name-design{
        line-height: 50px;
        text-align: center;
    }
    .welcome{
        margin-bottom: -35px;
    }
    .half-part img{
        width: 80%;
        margin-bottom: -75px;
        margin-left: -100px;
        margin-top: 0;
    }
    section{
        margin-bottom: 0;
    }
    .section-two{
        background-size: 25px;
    }
    .dream-big{
        width: 95%;
    }
    .dream-big h1{
        text-align: center;
    }
    .dream-img{
        margin-top: 0;
    }
    .card{
        width: 88%;
        height: 225px;
        box-shadow: 3px 3px 10px #9e9d9d;
    }
    .card h1{
        font-size: 25px;
    }
    .card h3{
        font-size: 15px;
    }
    .card p{
        font-size: 12px;
    }
  }